.gamePage {
    height: 100vh;
    width: 100vw;
}

.gameViewer {
    position: relative;
    height: 100%;
    width: 100%;
}

.gameMinimap {
    position: absolute;
    bottom: 20px;
    right: 20px;

    width: 600px;
    height: 500px;
    overflow: hidden;

    z-index: 99;
}

.gameMinimapFullscreen {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100vw;
    height: 100vh;

    z-index: 99;
}

.gameMinimapFullscreen > .gameMinimapButton {
    box-shadow: var(--button-normal-box-shadow);
    font-size: 28px;
}

.gameMinimapHeader {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 10%;

    z-index: 999;
}


.gameMinimapHeaderBar {
    width: 75%;
    height: 50%;

    background-color: #14182f;
    border: 4px solid #000;
}

.gameMinimapHeaderBarInside {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #2d354e;
    box-shadow: var(--button-small-box-shadow);
}

.gameMinimapContainer {
    width: 100%;
    height: 90%;
    background: rgba(0, 0, 0, 0.5);
}