@font-face {
    font-family: "Normal";
    src: url("/assets/Normal.otf") format("opentype");
}

@font-face {
    font-family: "Title";
    src: url("/assets/Title.otf") format("opentype");
}

:root {
    --mc-dark-red: #aa0000;
    --mc-red: #ff5555;
    --mc-gold: #ffaa00;
    --mc-yellow: #ffff55;
    --mc-dark-green: #55aa00;
    --mc-green: #55ff55;
    --mc-aqua: #55ffff;
    --mc-dark-aqua: #00aaaa;
    --mc-dark-blue: #0000aa;
    --mc-blue: #5555ff;
    --mc-light-purple: #ff55ff;
    --mc-dark-purple: #aa00aa;
    --mc-white: #ffffff;
    --mc-gray: #aaaaaa;
    --mc-dark-gray: #555555;
    --mc-black: #000000;

    --furf-yellow: #fbcc6c;
    --furf-gold: #faa648;

    --button-normal-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgb(28, 29, 48) -6.4px -6.4px 0px 0px inset,
        rgb(68, 74, 113) 6.4px 6.4px 0px 0px inset;

    --button-small-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        rgb(28, 29, 48) -3.2px -3.2px 0px 0px inset,
        rgb(68, 74, 113) 3.2px 3.2px 0px 0px inset;
}

* {
    font-family: "Normal", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
}

button {
    outline: none;
}

.leaflet-container {
    background: none !important;
}

.leaflet-container .leaflet-control-attribution {
    background: rgba(0, 0, 0, 0.5) !important;
    color: var(--mc-white) !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Title", sans-serif;
    color: var(--mc-white);
    text-shadow: 2.5px 2.5px 2px rgba(0, 0, 0, 0.5);
}

p {
    font-family: "Normal", sans-serif;
    color: var(--mc-white);
    text-shadow: 2.5px 2.5px 2px rgba(0, 0, 0, 0.5);
}

button {
    width: 100%;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;

    font-size: 20px;
    color: var(--mc-white);
    text-shadow: 2px 2px #000a;

    outline: none;
}

button:disabled {
    background-color: #14182f;
    border: 4px solid #000;

    cursor: not-allowed;
}

button:not(:disabled) {
    width: 100%;
    box-shadow: var(--button-small-box-shadow);

    background-color: #2d354e;
    border: 4px solid #000;

    cursor: pointer;
}

button:not(:disabled):hover {
    color: var(--furf-yellow);
    border: 4px solid var(--furf-gold);
}